<div class="startContainer">
  <div class="middle">
    <div class="inner">
      <h1 style="text-align: center;">
        Welcome to the place where you can play board games with other people online.
      </h1>
      <h5 style="text-align: center; position:relative;">
        In order to use this app you have to LOGIN. If you don't have an account yet, don't wait and SIGN UP now.
      </h5><br>
    </div>
  </div>

  <!--<mat-expansion-panel style="width: 60%; position: relative; left: 50%;transform: translate(-50%);">-->
  <!--<mat-expansion-panel-header style="text-align: center;">-->
  <!--<mat-panel-title>-->
  <!--ORGANIZOWANIE TURNIEJÓW-->
  <!--</mat-panel-title>-->
  <!--</mat-expansion-panel-header>-->
  <!--<p>Dzięki aplikacji będziesz mógł w łatwy i przystępny sposób stworzyć turniej oraz nim zarządzać, przydzielać terminy spotkań, zapisywać wyniki-->
  <!--i wiele innych.</p>-->
  <!--</mat-expansion-panel><br>-->

  <!--<mat-expansion-panel style="width: 60%; position: relative; left: 50%;transform: translate(-50%);">-->
  <!--<mat-expansion-panel-header>-->
  <!--<mat-panel-title style="text-align: center;">-->
  <!--UCZESTNICTWO W TURNIEJACH-->
  <!--</mat-panel-title>-->
  <!--</mat-expansion-panel-header>-->
  <!--<p>Będziesz mógł dołączyć do wielu turniejów organizowanych przez użytkowników i walczyć w systemie drabinkowym z przeciwnikami.</p>-->
  <!--</mat-expansion-panel><br>-->

  <!--<mat-expansion-panel style="width: 60%; position: relative; left: 50%;transform: translate(-50%);">-->
  <!--<mat-expansion-panel-header style="text-align: center;">-->
  <!--<mat-panel-title>-->
  <!--INNE FUNKCJONALNOŚCI-->
  <!--</mat-panel-title>-->
  <!--</mat-expansion-panel-header>-->
  <!--<ul>-->
  <!--<li>zapraszanie innych użytkowników do swoich turniejów</li>-->
  <!--<li>nadawawanie uprawnień organizatora innym użytkownikom</li>-->
  <!--<li>możliwość zmiany swoich danych osobowych</li>-->
  <!--</ul>-->
  <!--</mat-expansion-panel>-->

</div>
