<h2 style="text-align: center;" mat-dialog-title>{{messageTitle}}</h2>
<div id="modal-content-wrapper">
  <!--<section id="modal-body">-->
    <!--<p>If you click start, you will have to wait until all player will do the same, then the game will start automatically</p>-->
  <!--</section>-->
  <!--<section id="modal-body">-->
    <!--<p>If you click resign, your place will be free and everybody will be able to take it</p>-->
  <!--</section>-->
  <footer id="modal-footer">
    <button class="mr-2" mat-raised-button color="primary" (click)="startGame()">Start</button>
    <button mat-raised-button color="warn" (click)="resign()">Resign</button>
  </footer>
</div>
