<button class="mx-2 mb-2" mat-raised-button color="primary" (click)="goBack()">Back</button>

<div class="container ">
  <div class="row justify-content-center">
    <ng-template class="col-xs-8 mr-5" appGame></ng-template>
    <div class="col-xs-4 mx-sm-5 ">
      <mat-card class="example-card">
        <div class="container ">
          <div class="row justify-content-around">
            <div *ngFor="let number of playersNumber | times" class="mx-sm-2">
              <p>Player {{number}}</p>
              <button mat-stroked-button color="primary" (click)="addPlayer(number -1)">
                {{playerButtonTexts[number-1]}}
                <img *ngIf="showRemove(number-1)"
                     (click)="removePlayer($event)" src="../../../assets/cancel.svg" alt="close">
              </button>

              <span *ngIf="(number-1)==nextTurnPlayerName"><---</span>
            </div>
          </div>
        </div>
      </mat-card>
      <app-chat [stompClient]="stompClient"></app-chat>
    </div>
  </div>
</div>

