.example-card {
  max-width: 400px;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
}

.example-card:hover{
  box-shadow: 0 3px 11px #673ab7;
}

mat-card-title{
  text-align: center;
}

.example-header-image {
  background-size: cover;
}
img{
  max-height: 300px;

}
