<div class="modalContainer">
  <div class="regModal">
    <span class="close" (click)="setHide()"></span>
    <legend>Sign up</legend>
    <form
      class="regForm"
      #regForm="ngForm"
      [formGroup]="myForm"
      (ngSubmit)="submit()"
    >
      <!-- Value: {{myForm.value | json}} -->
      <div class="formBody">
        <mat-form-field>
          <input
            matInput
            placeholder="email"
            formControlName="email"
            required
            autocomplete="off"
          />
          <mat-error *ngIf="emailInput.errors?.required && emailInput.touched">
            Email address is required
          </mat-error>
          <mat-error *ngIf="emailInput.errors?.email && emailInput.touched">
            Wrong email format
          </mat-error>
          <mat-error *ngIf="emailInput.errors?.maxlength && emailInput.touched">
            Email address is to long
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="login"
            formControlName="login"
            required
            autocomplete="off"
          />
          <mat-error *ngIf="loginInput.errors?.required && loginInput.touched">
            Login is required
          </mat-error>
          <mat-error *ngIf="loginInput.errors?.minlength && loginInput.touched">
            Login is too short
          </mat-error>
          <mat-error *ngIf="loginInput.errors?.maxlength && loginInput.touched">
            Login is too long
          </mat-error>
          <mat-error *ngIf="loginInput.errors?.pattern && loginInput.touched">
            Forbidden character used
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Password"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            required
            autocomplete="off"
          />
          <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-hint align="end">min. 6 characters</mat-hint>
          <mat-error
            *ngIf="passwordInput.errors?.minlength && passwordInput.touched"
          >
            Password to short! min. 6 characters
          </mat-error>
          <mat-error
            *ngIf="passwordInput.errors?.required && passwordInput.touched"
          >
            Password is required
          </mat-error>
          <mat-error
            *ngIf="passwordInput.errors?.maxlength && passwordInput.touched"
          >
            Password is too long
          </mat-error>

          <mat-error
            *ngIf="passwordInput.errors?.pattern && passwordInput.touched"
          >
            Forbidden character used
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="First name"
            formControlName="firstname"
            required
            autocomplete="off"
          />
          <mat-error
            *ngIf="firstnameInput.errors?.required && firstnameInput.touched"
          >
            First name is required
          </mat-error>
          <mat-error
            *ngIf="firstnameInput.errors?.minlength && firstnameInput.touched"
          >
            min. 2 characters
          </mat-error>
          <mat-error
            *ngIf="firstnameInput.errors?.maxlength && firstnameInput.touched"
          >
            First name is too long
          </mat-error>
        </mat-form-field>

        <mat-form-field style="margin-bottom: 10px;">
          <input
            matInput
            placeholder="Nazwisko"
            formControlName="lastname"
            required
            autocomplete="off"
          />
          <mat-error
            *ngIf="lastnameInput.errors?.required && lastnameInput.touched"
          >
            Last name is required
          </mat-error>
          <mat-error
            *ngIf="lastnameInput.errors?.minlength && lastnameInput.touched"
          >
            min. 2 characters
          </mat-error>
          <mat-error
            *ngIf="lastnameInput.errors?.maxlength && lastnameInput.touched"
          >
            Last name is too long
          </mat-error>
        </mat-form-field>

        <mat-radio-group formControlName="gender">
          <mat-radio-button value="M" style="margin-right: 10px;">Male</mat-radio-button>
          <mat-radio-button value="F">Female</mat-radio-button>
        </mat-radio-group>

        <mat-form-field style="margin-top: 10px;">
          <mat-label>Birth date: MM/DD/YYYY</mat-label>
          <input
            matInput
            [max]="maxDate"
            [matDatepicker]="picker"
            formControlName="birthday"
            autocomplete="off"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        [disabled]="myForm.invalid"
        color="primary"
        type="submit"
        style="margin-top: 10px; text-transform: uppercase;"
      >
        Sign up
      </button>
    </form>
  </div>
</div>
