<h2 style="text-align: center;" mat-dialog-title>Zmiana danych użytkownika</h2>
<mat-dialog-content>
  <form #regForm="ngForm" [formGroup]="myForm" (ngSubmit)="submit()">
    <!-- Value: {{myForm.value | json}} -->
    <div class="formBody">
      <mat-form-field>
        <input
          matInput
          placeholder="email"
          formControlName="email"
          required
          spellcheck="false"
          autocomplete="off"
        />
        <mat-error *ngIf="emailInput.errors?.required && emailInput.touched">
          Adres email jest wymagany
        </mat-error>
        <mat-error *ngIf="emailInput.errors?.email && emailInput.touched">
          Niepoprawny format adresu email
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          autocomplete="off"
          matInput
          placeholder="Imię"
          formControlName="firstname"
          required
          spellcheck="false"
        />
        <mat-error
          *ngIf="firstnameInput.errors?.required && firstnameInput.touched"
        >
          Imię jest wymagane
        </mat-error>
        <mat-error
          *ngIf="firstnameInput.errors?.minlength && firstnameInput.touched"
        >
          min. 2 znaki
        </mat-error>
      </mat-form-field>

      <mat-form-field style="margin-bottom: 10px;">
        <input
          matInput
          placeholder="Nazwisko"
          formControlName="lastname"
          required
          spellcheck="false"
          autocomplete="off"
        />
        <mat-error
          *ngIf="lastnameInput.errors?.required && lastnameInput.touched"
        >
          Nazwisko jest wymagane
        </mat-error>
        <mat-error
          *ngIf="lastnameInput.errors?.minlength && lastnameInput.touched"
        >
          min. 2 znaki
        </mat-error>
      </mat-form-field>

      <mat-radio-group formControlName="gender">
        <mat-radio-button value="M" style="margin-right: 10px;"
          >Mężczyna</mat-radio-button
        >
        <mat-radio-button value="F">Kobieta</mat-radio-button>
      </mat-radio-group>

      <mat-form-field style="margin-top: 10px;">
        <mat-label>Data urodzenia: MM/DD/YYYY</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthday" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker [startAt]="birthdate" #picker></mat-datepicker>
      </mat-form-field>
      

      <mat-dialog-actions>
        <button
          mat-raised-button
          [disabled]="myForm.invalid"
          color="primary"
          type="submit"
          style="margin-top: 10px; text-transform: uppercase;"
        >
          Zapisz
        </button>
        <button
          mat-raised-button
          mat-dialog-close
          mat-dialog-close="false"
          style="
            margin-top: 10px;
            text-transform: uppercase;
            background-color: rgb(250, 220, 164);
          "
        >
          Anuluj
        </button>
      </mat-dialog-actions>
    </div>
  </form>
</mat-dialog-content>
